
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: white;
}

header {
    display: flex;
    align-items: center;
    gap: 15px;
    background: #333;
    color: white;
    padding: 20px;
    box-shadow: 4px 4px 5px #333;
}

header img {
     width:70px;
     height:auto;
     bject-fit: cover;
    border-radius:50%;
    object-fit: cover;
    border: 3px solid #fff;
}

.section-body {
    display: flex;
    padding: 5px;
    gap: 20px;
}

aside {
    width: 220px;
    height: 100vh;
    background: #1a1a1a;
    padding: 15px;
    border-radius: 8px;
}

aside ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

aside a {
    text-decoration: none;
}

aside li {
    text-decoration: none;
    background: #444;
    color: white;
    padding: 10px 12px ;
    display: block;
    border-radius: 5px;
    text-align: center;
    transition: 0.3s;
}

/
aside li:hover {
    background: #666;
    cursor: pointer;
    transform: translateX(5px);
}

aside a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px 12px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

aside a:hover {
    background-color: #444;
    transform: translateX(5px);
}

section {
    width:50vh;
    hight:100vh;
    flex: 1;
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 4px 4px 5px #333;
}

section img {
    width: 180px;
    height: 180px;   
    border-radius: 50%;
    object-fit: cover;   
    object-position: top; 
    border: 3px solid #333;
}
section-bodys{
    align-items:center;
    color: green;
}

section h1 {
    margin-top: 15px;
    color: #333;
}

section p {
    color: #555;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 0.9rem;
    margin-top: auto;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.2);
}